@import "variable";

:root {
  --s-app-width: 84%;
  --s-code-mirror-height: 600px;
}

a {
  text-decoration: none;
}

.inline-block {
  display: inline-block;
}

.h-center {
  margin: 0 auto;
}

.app-width {
  width: $app-width;
}

@font-face {
  font-family: HYQuan;
  src: url("./assets/fonts/HYQuanTangShiJ.ttf");
}

.lang-zh-CN {
  font-family: HYQuan, serif;
}

.lang-en {
  font-family: "Segoe UI", Helvetica, serif;
  letter-spacing: 1px;
}

.cursor-hand-hover:hover {
  cursor: pointer;
}

.block-mid {
  display: block;
  margin: 0 auto;
}

ul, ol {
  list-style: none;
}

.padding-l-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.4), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.border-radius4 {
  border-radius: 4px !important;
}


// s-card the card within list used in announcement, contest, problem ...
div.s-card-container.home-card {
  padding-top: 12px !important;

  .s-card-list {
    padding: 0 0 0 12px !important;

    > .s-card-item {
      padding: 2px 0;
      margin: 5px auto;
      position: relative;
      min-height: 24px;

      .row {
        margin-left: 0;
      }

      > .s-card-item-line {
        height: 24px;
        margin-right: 0;
        flex-wrap: nowrap;

        .s-card-item-text {
          padding: 2px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.85rem;
        }
      }
    }
  }
}


.list-item {
  padding: 10px 16px 12px 32px;
}

.ellipsis-col {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  :root {
    --s-app-width: 95%;
  }
  .s-card-container {
    padding-left: 8px !important;
    padding-right: 8px !important;

    .s-card-list {
      padding-left: 12px !important;

      .s-card-item-text {
        padding: 12px 4px 12px 8px;
      }

    }
  }

  .list-item {
    padding: 10px 16px 10px 24px;
  }
}

i.icon-color-0.v-icon.mdi {

}

i.icon-color-1.v-icon.mdi {
  color: var(--v-secondary-darken1);
}

i.icon-color-2.v-icon.mdi {
  color: var(--v-secondary-darken2);
}

i.icon-color-3.v-icon.mdi {
  color: var(--v-secondary-darken3)
}

i.icon-color-a3.v-icon.mdi {
  color: var(--v-accent-lighten3)
}

i.icon-color-F.v-icon.mdi {
  color: ghostwhite;
}

.icon-left-5 {
  margin-left: 5px;
}

.icon-score {
  transform: scale(1.25) translateY(-1px);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

.page-all-root {
  min-height: 80%;

  .all-card {
    width: $app-width;
    margin: 30px auto;
  }
}

.page-detail-root {
  min-height: 80%;

  .detail-card {
    width: $app-width;
    margin: 30px auto;
    min-height: 746px;

    .v-card__subtitle {
      line-height: 1.8rem !important;
    }

    .detail-card-title-box {
      padding: 0 0 0 28px;
      flex-wrap: wrap;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;

      .detail-card-title {
        font-weight: 500;
        flex-grow: 1;
        display: block;
        padding: 10px 10px 0 0;
        line-height: 60px;

        @media only screen and (max-width: 1100px){
          &>*:not(.refresh){
            padding-left: 4px !important;
          }
        }
        &>.v-card__subtitle{
          padding-bottom: 24px;
        }
        //font-family: "Segoe UI", Consolas, serif;
      }

      .detail-card-title-main {
        font-size: 24px;
      }

      .detail-card-tabs {
        width: auto;
        flex-grow: 1;

        .v-slide-group__content, .v-tabs-bar__content {
          .v-tab {
            padding: 0 8px;
            font-size: 16px;
          }
        }

      }

    }

    .detail-card-title-box--vertical {
      //width: calc(100% + 100px);
      //position: relative;
      height: 160px;
      //left: -100px;
      box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.4), 0px 2px 2 cpx 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

      .detail-card-tabs--vertical {
        display: inline-block;
        position: fixed;
        left: calc(9% - 100px);
        //width: 100px;
        width: 99px;
        //padding: 0 2px;
        font-size: 12px;
        //box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.4), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        border-left: var(--v-accent-lighten3) solid 1px;

        .v-tabs-slider-wrapper {
          transform: translateX(-1px);
        }
      }

      .detail-card-title--vertical {
        //width: calc(100% - 102px);
        width: 100%;
        height: 100%;
        font-weight: 500;
        display: inline-block;
        padding: 20px 32px 10px 16px;
        font-family: "Segoe UI", Consolas, serif;
        text-align: center;
      }

      .v-tab {
        padding: 0;
      }
    }

    .description {
      padding: 24px 32px 2px 32px;
    }
  }

  .detail-card-loading {
    width: $app-width !important;
    margin: 20px auto;
    display: block;
  }
}

.s-divider {
  margin-bottom: 4px;
}

.search {
  width: 300px;
  min-width: 200px;
  margin-left: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 2;

  .v-input.search-input {
    width: 20%;
    min-width: 70px;
    display: inline-block;
    flex: none;
    flex-grow: 1;

    margin: 10px 10px 10px 0;

    * {
      color: var(--v-secondary-darken1) !important;
    }
  }

  .search-btn {
    min-width: 80px !important;
    max-width: 80%;
    display: inline-block;
    flex: none;
    height: 40px !important;
    background-color: var(--v-secondary-darken1) !important;
    color: ghostwhite;
  }
}

.list {
  min-height: 600px;
}

.list-item-container:nth-of-type(even) {
  //background-color: var(--v-secondary-darken4);
  //.ellipsis-col, .col{
  //  color: ghostwhite !important;
  //}
  background-color: rgba(0, 0, 0, 0.03);
}

.v-application .v-list-item {
  min-height: 60px;
  letter-spacing: 1px;

  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding: 6px 12px;
  }
}

.refresh.v-btn {
  position: absolute;
  right: 16px;
  min-width: 36px !important;
  padding: 8px !important;
}

.s-link{
  color:var(--v-accent-base) !important;
  padding-bottom: 8px !important;
  &:hover{
    cursor: pointer;
  }
}

.s-flex {
  display: flex;
  flex-wrap: wrap;
}

.problem-list {

  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    line-height: 36px;
  }
}

li.CodeMirror-hint-active {
  background: var(--v-secondary-lighten1) !important;
  color: white;
}


.inlist-user {
  display: flex;
  align-items: center;

  .inlist-user-avatar {
    flex-shrink: 2;
  }

  .inlist-user-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
  }
}