@import "variable";


a {
  text-decoration: none;
}

.inline-block {
  display: inline-block;
}

.h-center {
  margin: 0 auto;
}

.app-width {
  width: $app-width;
}

@font-face {
  font-family: HYQuan;
  src: url("./assets/fonts/HYQuanTangShiJ.ttf");
}

.lang-zh-CN {
  font-family: HYQuan, serif;
}

.lang-en {
  font-family: Helvetica, serif;
}

.cursor-hand-hover:hover {
  cursor: pointer;
}

.block-mid {
  display: block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul, ol {
  list-style: none;
}


.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.4), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.border-radius4 {
  border-radius: 4px !important;
}


// s-card the card within list used in announcement, contest, problem ...
div.s-card-container.home-card {
  padding-top: 12px !important;

  .s-card-list {
    padding: 0 0 0 12px !important;

    > .s-card-item {
      padding: 2px 0;
      margin: 5px auto;
      position: relative;
      min-height: 24px;

      .row {
        margin-left: 0;
      }

      > .s-card-item-line {
        height: 24px;
        margin-right: 0;
        flex-wrap: nowrap;

        .s-card-item-text {
          padding: 2px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-size: 0.85rem;
        }
      }
    }
  }
}


.list-item {
  padding: 10px 16px 10px 32px;
}

.ellipsis-col {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {

  .s-card-container {
    padding-left: 8px !important;
    padding-right: 8px !important;

    .s-card-list {
      padding-left: 12px !important;

      .s-card-item-text {
        padding: 12px 4px 12px 8px;
      }

    }
  }

  .list-item {
    padding: 10px 16px 10px 24px;
  }
}

i.icon-color-1.v-icon.mdi {
}

i.icon-color-2.v-icon.mdi {
  color: var(--v-secondary-darken1);
}

i.icon-color-3.v-icon.mdi {

}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

.page-all-root{
  min-height: 80%;
  .all-card{
      width: $app-width;
      margin: 30px auto;
  }
}

